@import "colorVariables";

button{
  border: solid $darkest-color 1px;
  color: $darkest-color;
  padding: 9px 26px;
}

button:disabled{
  border: solid $darkest-color 1px;
  color: white;
  background-color: $darkest-color;
  padding: 9px 26px;
}

input{
  border: 1px solid $darkest-color;
  color: $darkest-color;
  padding: 12px 20px;
  height: 50px;
}

input::placeholder{
  color: $darkest-color;
}